.leave-form-container {
    padding: 25px;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    animation: fadeIn 1s ease-in-out;
    text-align: center;
    background-color: #f0f4f8;
    margin: 30px 0px 20px 550px; /* Center the form horizontally */
}

/* Header Styling */
h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #4a90e2;
}

/* Balance Section Styling */
.balance-section {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #2e3d4d; /* Dark gray color for text */
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #2e3d4d; /* Dark gray text color */
}

.date-time-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.date-time-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Input Styling */
input, select, textarea {
    padding: 12px;
    border: none;
    outline: none;
    font-size: 1rem;
    transition: all 0.3s ease;
    width: 60%;
    background-color: #f0f4f8;
    border-bottom: #2e3d4d 1px solid; /* Green border for inputs */
}

input:focus, select:focus, textarea:focus {
    border-bottom: 2px solid #4caf50; /* Emphasize input focus with green */
}

/* Submit Button Styling */
.submit-btn {
    padding: 10px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background: linear-gradient( #4a90e2,#75a0ce); /* Green gradient for a lively effect */
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    width: 20%;
    transition: all 0.3s ease-in-out;
}

.submit-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1); /* Subtle shadow on hover */
}

/* Error Message Styling */
.error-message {
    color: #8bc34a; /* Red for error message to stand out */
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 15px;
    animation: shake 0.5s ease-in-out;
}

/* Animations */
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
}
